@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

li {
    list-style-type: none;
}
a {
    text-decoration: none;
}

.top_menu {
    width: 100%;
    /* background-color: antiquewhite; */
    /* height: 30px; */
    display: flex;
    font-size: 10px;
    align-items: center;
    justify-content: space-evenly;
}

.top_menu #rojo {
    background-color: #bf1e2eed;
}
.top_menu button {
    width:132px;
    font-size: 11px;
    border: 0;
    padding: 5px 0px; /*corrijo el pading*/
    margin: 0px;
    color:white;
}
.top_menu .gris {
    background-color: gray;
}

.top_menu_links ul {
    display: flex;
    justify-content: flex-end;
}

.top_menu_links li{
    margin: 5px;
}

.top_menu_links a{
    color:grey;
    font-size: 11px;
}
.top_menu_links a:hover{
    color: black
}

/*estilos del logo link y formularios*/
.logo_menu_boton {
    display: flex;
    align-items: center;/*strech|center|flext-start|flex-end*/
    justify-content: space-around;
    margin-bottom: 15px;
}

.logo_menu_boton a{
    text-decoration: none;
    text-transform: uppercase;
    margin: 2px;
    font-weight: 500;
    color: black;
    font-size: 13px;
}
.logo_menu_boton a:hover{
    color: #789c48;
}
.active {
    color: #789c48 !important;
}

.logo_menu_boton ul {
    display: flex;
}

.logo_menu_boton ul a::after {
    content: ' |';
}

.logo_menu_search {
    position: relative;
}
.logo_menu_search input {
    /* background-color: red; */
    height: 30px;
    outline: none;
    border: none;
    background-color: #e4e1e1;
}
.logo_menu_search button {
    position: absolute;
    height: 28px;
    width: 30px;
    border: none;
    right: 1px;
    bottom: 1px;
    border: none;
    background-color: transparent;
}

/*css de secciones*/
.secciones {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #789c48;
}
.secciones a {
    color: rgba(255,255,255,.8);
    font-size: 14px;
    font-weight: 100;
    margin: 0 10px;
}

/* .sofiacontainer {
    position: relative;
} */
.sofiacontainer {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 70px;
    position: fixed;
    right: 10px;
    top:50%;
    align-items: flex-end;
    z-index: 99;
}

.sofiacontainer > div.sofia3dhelp {
    height: 30px;
    background-color: #789c48;
    padding: 10px;
    /* border-radius: 50% 10% 50% 10%;  */
    color:white;
    visibility: hidden;
}

.sofiacontainer:hover > div.sofia3dhelp {
    visibility: visible;
}