 /*selector por atributos*/
 [href] {
    /*general*/
    font-size: 25px;
}      
[href="http://www.google.com.ar"] {
    color: rgb(235, 0, 0) !important;
    text-decoration: none;
}
/*contenido exacto*/  

/*comience con alt+94*/        
[href^="http"]{
    color: black;
}
/*contenga*/
[href*="comafi"] {
    color: aqua;
}
/*termine con*/
[href$="br"] {
    color:blueviolet;
}

img {
    width: 100px;
    height: auto;
}

img[alt="messi"] {
    width: 200px;
}

img[alt="messi"]:hover {
    border-radius: 50%;
}

/*animaciones*/
.cuadrado {
    height: 200px;
    width: 200px;
    background-color: red;
    border-radius: 50%;
    /*animaciones en css*/
    animation-name: mianimacion;
    animation-duration: 4s;
    /* animation-delay: 2s; */
    /*para pode moverlo lo hacemos position:relative*/
    position: relative;
    /*alternar direccion*/
    animation-direction: normal;
    animation-iteration-count: infinite; /*inifinite*/
    animation-timing-function: linear;/*ease*/
}
@keyframes mianimacion{
   /* 0% a 100%*/
   0% {
        left: 0;
        top:0;
        background-color: red;
   }
   25% {
        top: 0;
        left: 300px;
        background-color: red;
   }
   50% {
        top:300px;
        left: 300px;
        background-color: green;
   }
   75% {
        left: 0;
        top: 300px;
        background-color: blue;
   }
   100% {
        top:0;
        left:0;
        background-color: red;
   }
}